@font-face {
  font-family: 'AlibabaPuHuiTi';
  src: url("@/assets/fonts/Alibaba-PuHuiTi-R.ttf") format("truetype"),
    url("@/assets/fonts/Alibaba-PuHuiTi-R.woff") format("woff"),
    url("@/assets/fonts/Alibaba-PuHuiTi-R.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN';
  src: url("@/assets/fonts/D-DIN-Bold.woff.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PangMenZhengDao';
  src: url("@/assets/fonts/pmzd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}