@font-face {
  font-family: "iconfont"; /* Project id 3022172 */
  src: url('iconfont.woff2?t=1645093246971') format('woff2'),
       url('iconfont.woff?t=1645093246971') format('woff'),
       url('iconfont.ttf?t=1645093246971') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lianjie:before {
  content: "\e618";
}

.icon-a-zu143:before {
  content: "\e617";
}

.icon-a-jianqu2:before {
  content: "\e612";
}

.icon-a-lujing13:before {
  content: "\e613";
}

.icon-a-zu29:before {
  content: "\e614";
}

.icon-a-duobianxing1:before {
  content: "\e615";
}

.icon-a-zu144:before {
  content: "\e616";
}

.icon-piliangchaxun:before {
  content: "\e63a";
}

