@charset "UTF-8";
@import './modules/font.scss';

html {
  height: 100%;
  font-size: 4px; // * 方便unocss计算：1单位 = 0.25rem = 1px
}

body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Lato, Roboto,
    'PingFang SC', 'Microsoft YaHei', sans-serif !important;

  // 设置无法选中文字
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

input:-internal-autofill-selected {
  box-shadow: 0 0 0 1000px #e7f8f8 inset;
  -webkit-text-fill-color: #333333;
}

/* 自定义滚动条样式 */
.cus-scroll {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
}

.cus-scroll-x {
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 0;
    height: 8px;
  }
}

.cus-scroll-y {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
    height: 0;
  }
}

.cus-scroll,
.cus-scroll-x,
.cus-scroll-y {
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 4px;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: #bfbfbf;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--primary-color);
    }
  }
}

// N组件配置div
.n-config-provider {
  width: 100%;
  height: 100%;
}


// 页面切换动画
/* transition fade-slide */
.fade-slide-leave-active,
.fade-slide-enter-active {
  transition: all 0.3s;
}

// .fade-slide-enter-from {
//   opacity: 0;
//   transform: translateY(-30px);
// }
.fade-slide-enter-from,
.fade-slide-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

// 上传组件只有一列
.gird_1 {
  .n-upload-file-list.n-upload-file-list--grid {
    grid-template-columns: 1fr;
  }
}
// 图片显示比例
._16x9 {

  .n-upload-trigger.n-upload-trigger--image-card,
  .n-upload-file.n-upload-file--image-card-type {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;

  }
}
._1x1 {

  .n-upload-trigger.n-upload-trigger--image-card,
  .n-upload-file.n-upload-file--image-card-type {
    aspect-ratio: 1;
    width: 100%;
    height: auto;

  }
}
// 图片填充方式
.n-upload-file-list .n-upload-file.n-upload-file--image-card-type .n-upload-file-info .n-upload-file-info__thumbnail img {
  object-fit: contain !important;
}

@media (prefers-color-scheme: dark) {
  :root.dark {
    // 富文本编辑器颜色
    --w-e-textarea-bg-color: rgba(255, 255, 255, 0.1);
    --w-e-textarea-color: #fff;
    --w-e-toolbar-bg-color: #56565B;
    --w-e-toolbar-color: rgba(255, 255, 255, 0.8);
    --w-e-toolbar-active-color: #fff;
    --w-e-toolbar-active-bg-color: rgba(0, 0, 0, 0.6);
    --w-e-toolbar-border-color: rgba(255, 255, 255, 0.1);
    --w-e-modal-button-bg-color: rgba(0, 0, 0, 0.6);
    --w-e-modal-button-border-color: rgba(255, 255, 255, 0.3);
  }
}


/** 自定义花色滚动条样式 */
// ::-webkit-scrollbar {
//   width: 8px;
//   height: 8px;
// }

// ::-webkit-scrollbar-track {
//   background-color: rgba(var(--primary-color-gbg), 0.2);
//   border-radius: 2em;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: var(--primary-color);
//   background-image: -webkit-linear-gradient(
//     45deg,
//     rgba(255, 255, 255, 0.4) 25%,
//     transparent 25%,
//     transparent 50%,
//     rgba(255, 255, 255, 0.4) 50%,
//     rgba(255, 255, 255, 0.4) 75%,
//     transparent 75%,
//     transparent
//   );
//   border-radius: 2em;

//   :hover {
//     background-color: var(--primary-color-hover);
//   }
// }

// ::-webkit-scrollbar-corner {
//   background-color: transparent;
// }

// ::-moz-selection {
//   color: #fff;
//   background-color: var(--primary-color);
// }