/* Colors
-------------------------- */
$--color-white: #fff !default;
$--color-black: #000 !default;

// 主色
$--color-primary: #0099f6 !default;
$--color-primary-hover: #0579c2 !default;
$--color-primary-active: #1887cc !default;
$--color-primary-outline: rgba(15, 147, 228, 0.2) !default;

// 辅助色
$--color-orange: #ED7B2F !default;
$--color-orange-hover: #DD722A !default;
$--color-yellow: #EEA02A !default;
$--color-green: #00BBB7 !default;
$--color-blue: #168FFF !default;
$--color-purple: #8E5CE0 !default;

// 功能色
$--color-success: #66BB83 !default;
$--color-warning: #FFC148 !default;
$--color-danger: #F2634F !default;
$--color-error: #B12B2B !default;
$--color-info: #909399 !default;

$--color-success-light: mix($--color-white, $--color-success, 80%) !default;
$--color-warning-light: mix($--color-white, $--color-warning, 80%) !default;
$--color-danger-light: mix($--color-white, $--color-danger, 80%) !default;
$--color-info-light: mix($--color-white, $--color-info, 80%) !default;

$--color-success-lighter: mix($--color-white, $--color-success, 90%) !default;
$--color-warning-lighter: mix($--color-white, $--color-warning, 90%) !default;
$--color-danger-lighter: mix($--color-white, $--color-danger, 90%) !default;
$--color-info-lighter: mix($--color-white, $--color-info, 90%) !default;

$--color-text-primary: #171717 !default;
$--color-text-regular: #585858 !default;
$--color-text-secondary: #808080 !default;
$--color-text-placeholder: #C8CDCE !default;

$--color-border: #c0c4cc !default;

// layout
$--layout-padding: 16px;

$--header-height: 88px;
$--header-padding: 0 $--layout-padding;
$--header-color-bg: $--color-primary;

$--breadcrumb-height: 40px;
$--breadcrumb-color: $--color-white;
$--breadcrumb-color-bg: $--color-white;

$--footer-height: 80px;
$--footer-color: $--color-text-secondary;
$--footer-color-bg: $--color-text-primary;