html,
body {
  height: 100%;
  font-family: 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.15;
}

* {
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

#app {
  min-height: 100%;
  background-color: #f5f7fa;
}

#particles .particles-js-canvas-el {
  position: fixed;
  top: 0;
  left: 0;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(0, 148, 131, 0.6);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb :hover {
  background: #009483;

}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .2)
}

* {
  scrollbar-width: 10px;
  scrollbar-base-color: rgba(0, 148, 131, 0.6);
  scrollbar-track-color: rgba(0, 0, 0, .2);
  scrollbar-arrow-color: rgba(0, 148, 131, 0.6);
}

input:-internal-autofill-selected {
  box-shadow: 0 0 0 1000px #E7F8F8 inset;
  -webkit-text-fill-color: #333333;
}

.ant-menu-submenu-popup.submenu-top .ant-menu-vertical.ant-menu-sub {
  min-width: 220px;
}

.ant-menu-submenu-popup.submenu-top .ant-menu-vertical>.ant-menu-item {
  width: 100%;
  height: 56px;
  line-height: 56px;
  padding-inline: 24px;
  margin-inline: 0;
  margin-block: 4px;
  font-size: 18px;
}

.ant-menu-submenu-popup.submenu-top .ant-menu-vertical>.ant-menu-item::after {
  position: absolute;
  inset-block: 0px;
  left: 0;
  border-left: 2px solid transparent;
  transition: border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  content: "";
}

.ant-menu-submenu-popup.submenu-top .ant-menu-vertical>.ant-menu-item-selected {
  font-weight: 600;
}

.ant-menu-submenu-popup.submenu-top .ant-menu-vertical>.ant-menu-item-selected::after {
  border-left: 2px solid rgba(0, 148, 131, 0.8);
}